.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 250px;
  padding-right: 250px;
}

.add-book-heading {
  text-align: center;
  padding-bottom: 42px;
}

.add-book-form-input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-book-form-input input {
  height: 36px;
  width: 50%;
  padding: 2px 10px;
  border-radius: 4px;
  border: 2px solid rgb(202, 202, 202);
}

.add-book-form-btn button {
  color: white;
  margin: auto;
  height: 42px;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 10px;
  background-color: rgb(66, 66, 66);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  cursor: pointer;
}
