.books {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.books-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding-bottom: 42px;
  padding-top: 42px;
}

.books-title {
  text-align: center;
}

.book {
  border-radius: 20px;
  border: 2px solid rgb(205, 205, 205);
  padding: 24px 12px;
  width: 250px;
}

.book-cover img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.book-details {
  padding: 8px 12px;
}

.add-book-button {
  display: flex;
  justify-content: center;
  padding-bottom: 42px;
}

.add-book-button :hover {
  cursor: pointer;
}

.add-book-button button {
  color: white;
  margin: auto;
  height: 50px;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 12px;
  background-color: rgb(66, 66, 66);
  border: none;
}

.book-buttons {
  display: flex;
  width: 100%;
  gap: 10px;
  padding-top: 8px;
}

.btn-primary {
  color: white;
  margin: auto;
  height: 32px;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 10px;
  background-color: rgb(66, 66, 66);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.btn-secondary {
  color: black;
  margin: auto;
  height: 32px;
  width: 100%;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(205, 205, 205);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
